* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    height: 80vh;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #f2f2f2;
    margin-bottom: 2rem;
    font-size: 1.8em;
}

span {
    font-size: 1rem;
    font-weight: normal;
    vertical-align: super;
}

.calculadora {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 2px;
    border-radius: 2px;
    border-radius: 5px;
}

#display {
    width: 200px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.2rem;
}

.buttons {
    padding: 1rem;
    background-color: #f2f2f2;
    margin-top: -20px;
}

section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fourth {
    margin-bottom: 0;
}

.button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgray;
    color: #2c2c2c;
    font-weight: bolder;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.button:hover {
    background-color: gray;
    color: #f2f2f2;
}

.button-clear {
    position: absolute;
    margin-left: 120px;
    margin-top: 300px;
    border-radius: 4px;
    width: 80px;
}

.equal {
    background-color: darkred;
    color: #f2f2f2;
}

.equal:hover {
    background-color: red;
    transition: .2s;
}